let mapleader=" "

""" Plugins ----------------------------------------------------------------------------------------
set NERDTree
set surround
set easymotion
set highlightedyank
set which-key
set commentary

""" Plugin Settings --------------------------------------------------------------------------------
nmap <leader>x :NERDTree<CR>

""" Common Settings --------------------------------------------------------------------------------
set scrolloff=10
set number relativenumber
set incsearch
set hlsearch
set showmode
set showcmd
set notimeout
set timeoutlen=5000

""" IDEA Specific Settings -------------------------------------------------------------------------
set ideajoin
set idearefactormode=keep
set clipboard+=unnamed
sethandler <c-j> a:vim
sethandler <c-k> a:vim

""" Mappings ---------------------------------------------------------------------------------------
" Editing and Reloading the Config
nnoremap \e :e ~/.ideavimrc<CR>
nmap \r <Action>(IdeaVim.ReloadVimRc.reload)
nmap \g <Action>(ExternalSystem.ProjectRefreshAction)

" Display options
map <leader>dd <Action>(ToggleDistractionFreeMode)
map <leader>dz <Action>(ToggleZenMode)
map <leader>df <Action>(ToggleFullScreen)

" Terminal
nmap <c-t> <Action>(ActivateTerminalToolWindow)
nmap <leader>t <Action>(Terminal.OpenInTerminal)

" Navigation
map <leader>wv <Action>(SplitVertically)
map <leader>ws <Action>(SplitHorizontally)
map <leader>wu <Action>(Unsplit)
map <leader>wm <Action>(MoveEditorToOppositeTabGroup)
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nmap <s-TAB> <Action>(PreviousTab)
nmap <TAB> <Action>(NextTab)
nmap <leader>en <Action>(EditSourceInNewWindow)
nmap <leader>n <Action>(NextWindow)
nmap <leader>q <Action>(CloseContent)
nmap <leader>qa <Action>(CloseAllEditors)

" Editing source code
vnoremap < <gv
vnoremap > >gv
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)
nmap zc <Action>(CollapseRegion)
nmap zo <Action>(ExpandRegion)
nmap <leader>zc <Action>(CollapseAllRegions)
nmap <leader>zo <Action>(ExpandAllRegions)
nmap <leader>c <Action>(CommentByLineComment)
map <leader>rn <Action>(RenameElement)
map <leader>rm <Action>(ExtractFunction)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rf <Action>(IntroduceField)
map <leader>rs <Action>(ChangeSignature)
map <leader>rr <Action>(Refactorings.QuickListPopupAction)
nmap <leader>= <Action>(ReformatCode)
nmap <leader>o <Action>(OptimizeImports)
nmap ge <Action>(GotoNextError)
nmap gE <Action>(GotoPreviousError)
nnoremap <leader><S-s> :write<CR>

" Popup navigation
imap <C-j> <Action>(PopupMenu-selectNext)
imap <C-k> <Action>(PopupMenu-selectPrev)

" Searching and Source Code Navigation
map <leader>f <Action>(SelectInProjectView)
map <leader>ff <action>(GotoFile)
map <leader>fr <action>(RecentFiles)
map <leader>fc <action>(FindInPath)
map <leader>fl <action>(RecentLocations)
map <leader>fs <action>(NewScratchFile)
nmap <c-a> <Action>(GotoAction)
nmap <leader>u <Action>(FindUsages)
nmap <leader>s <Action>(GotoRelated)
nmap <leader>h <Action>(CallHierarchy)
nmap <leader>b <Action>(ShowNavBar)
nmap <c-s> <Action>(FileStructurePopup)
nmap <c-o> <Action>(GotoSymbol)
nmap <leader>gc <Action>(GotoClass)
nmap <leader>gy <Action>(GotoTypeDeclaration)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gp <Action>(GotoSuperMethod)
nmap <leader>gu <Action>(ShowUsages)
nmap <leader>gt <Action>(GotoTest)
nmap <leader>gf <Action>(Back)
nmap <leader>gb <Action>(Forward)
map <leader>cs /dkjflsdjfldjf<Enter>

" Tool windows
nmap <c-p> <Action>(JumpToLastWindow)
nmap <c-x> <Action>(HideAllWindows)

" Running and Debugging
nmap ,r <Action>(Run)
nmap ,s <Action>(Stop)
nmap ,c <Action>(RunClass)
nmap ,f <Action>(ChooseRunConfiguration)
nmap ,t <Action>(ActivateRunToolWindow)
nmap ,u <Action>(Rerun)
nmap ,f <Action>(RerunFailedTests)
nmap ,b <Action>(ToggleLineBreakpoint)
nmap ,d <Action>(Debug)
nmap ,n <Action>(ActivateDebugToolWindow)
nmap ,g <Action>(Android.SyncProject)
